WEATHERLINK_API_KEY=
WEATHERLINK_API_SECRET=

LABGURU_BASE_URL=
LABGURU_TOKEN=
LABGURU_AUTH_MODE=bearer

LABGURU_WEATHERLINK_PARENT_FOLDER_ID=
LABGURU_LICOR_PARENT_FOLDER_ID=

LICOR_DATA_FOLDER=licor/data

DRY_RUN=true
AUTO_ADD_COLUMNS=true